[gcode_macro CHANGE_FILAMENT]
description: Do a PAUSE, park the toolhead over the purge bucket and unload the filament
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _USER_VARIABLES"].print_default_extruder_temp)|float %}

    SAVE_GCODE_STATE NAME=CHANGE_FILAMENT_state
    PAUSE
    _CONDITIONAL_MOVE_TO_PURGE_BUCKET Z_DROP=0
    UNLOAD_FILAMENT
    RESTORE_GCODE_STATE NAME=CHANGE_FILAMENT_state


[gcode_macro UNLOAD_FILAMENT]
description: Basic unload of the filament (used with M600/CHANGE_FILAMENT)
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _USER_VARIABLES"].print_default_extruder_temp)|float %}
    {% set DISTANCE = params.DISTANCE|default(105)|float %}

    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}

    SAVE_GCODE_STATE NAME=UNLOAD_FILAMENT_state
    _LOW_TEMP_CHECK T={TEMP}

    _TIP_SHAPING FINAL_EJECT=True
    M83
    G1 E-20 F3600
    G4 P3000
    G1 E{DISTANCE|float * -1} F3000

    RESTORE_GCODE_STATE NAME=UNLOAD_FILAMENT_state


[gcode_macro LOAD_FILAMENT]
description: Basic load of the filament (used with M600/CHANGE_FILAMENT)
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _USER_VARIABLES"].print_default_extruder_temp)|float %}
    {% set DISTANCE = params.DISTANCE|default(105)|float %}

    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}

    SAVE_GCODE_STATE NAME=LOAD_FILAMENT_state
    _LOW_TEMP_CHECK T={TEMP}
    M83
    G92 E0
    G1 E{DISTANCE|float} F200
    G1 E50 F150

    G92 E0
    RESTORE_GCODE_STATE NAME=LOAD_FILAMENT_state


[gcode_macro _TIP_SHAPING]
description: Filament tip shaping sequence
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _USER_VARIABLES"].print_default_extruder_temp)|float %}
    {% set FINAL_EJECT = params.EJECT|default(False) %}
    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}

    SAVE_GCODE_STATE NAME=TIP_SHAPING_state
    _LOW_TEMP_CHECK T={TEMP}

    {% set old_pressure_advance = printer.extruder.pressure_advance|default(0) %} # old pressure advance
    # we suppress pressure advance
    SET_PRESSURE_ADVANCE ADVANCE=0

    M82
    G91
    G92 E0

    G1 E-15 F4800
    G1 E-14 F1200
    G1 E-4  F600
    G1 E-2  F360

    {% set SPEED_INC = 5.714285714  %}
    {% set COOLING_MOVES = 4 %}
    {% set INITIAL_COOLING_SPEED = 10 %}

    {% for move in range(COOLING_MOVES|int) %}
        G1 E10 F{(INITIAL_COOLING_SPEED|float + SPEED_INC*move*2) * 60}
        G1 E-10 F{(INITIAL_COOLING_SPEED|float + SPEED_INC*(move*2+1)) * 60}
    {% endfor %}

    {% if FINAL_EJECT|int == 1 %}
        G92 E0
        G1 E-80 F3000
    {% endif %}

    # set last pressure advance
    SET_PRESSURE_ADVANCE ADVANCE={old_pressure_advance}
    RESTORE_GCODE_STATE NAME=TIP_SHAPING_state
