[gcode_macro _USER_VARIABLES]
# Enable verbose output to let the macro have a chat
variable_verbose: True

###################################################
# Feedrate and accels setpoints for all the macros
###################################################

## SPEEDS
variable_homing_travel_speed: 350
variable_travel_speed: 350
variable_z_drop_speed: 15
variable_probe_dock_speed: 60

variable_blobifier_position_xy: 3, 280

## Force always a full homing and QGL/Z_TILT during the START_PRINT macro
variable_force_homing_in_start_print: True

## Z hop before homing to avoid grinding
## the bed due to the gantry sag
variable_homing_zhop: 5

variable_homing_first: "X" # can be set to "Y" first
variable_homing_backoff_distance_xy: -5, -5 # move 5mm in negative direction on both axis

## ACCELS
## Those are specific accel settings for some of the macros
variable_homing_travel_accel: 3000
variable_tilting_travel_accel: 3000
variable_probe_dock_accel: 2000

## Park position used when pause, end_print, etc...
variable_park_position_xy: 7, 280
variable_park_lift_z: 50

variable_probe_type_enabled: "vorontap"

variable_firmware_retraction_enabled: True

## Accel to decel scale factor (default is 75% of the accel)
variable_accel_to_decel_factor: 0.75

## Patch the M190/M109 commands to avoid some wait time while the temperature
## settle on very low thermal latency devices (such as the BambuLabs hotend)
variable_fix_heaters_temperature_settle: False

##########################################################
# Voron TAP probe variables (if available in the machine)
##########################################################

variable_tap_max_probing_temp: 150
variable_tap_deactivation_zhop: 5 # this is used to Z hop before restoring the temperature to avoid burnt PEI

# White lights using 24V (example: white fcob)
variable_light_enabled: True
variable_light_pin_name: "caselight"
variable_light_intensity_start_print: 100
variable_light_intensity_printing: 30
variable_light_intensity_end_print: 0

################################################
## MMU/ERCF specific variables
################################################
## This section is only considered if an MMU/ERCF is installed and configured

variable_klippain_ercf_enabled: True
variable_mmu_force_homing_in_start_print: False
variable_mmu_unload_on_cancel_print: True
variable_mmu_unload_on_end_print: True
variable_mmu_check_gates_on_start_print: True   # True is recommended but you must have TOOLS_USED=!referenced_tools! in your slicer START_PRINT parameters. Otherwise it will only check the INITIAL TOOL...
variable_mmu_check_errors_on_start_print: False  # Set to True if you want an early check of MMU errors during the START_PRINT sequence.

################################################
## Filter specific variables
################################################

variable_exhaust_filter_enabled: False
variable_recirculating_filter_enabled: True
variable_exhaust_filter_name: "rear_exhaust"
variable_recirculating_filter_name: "nevermore"
variable_filter_default_time_on_end_print: 600

# Neopixel leds used on the toolhead (stealthburner style)
variable_status_leds_enabled: True
variable_status_leds_logo_led_name: "status_leds"

## Resonnance testing position (if an accelerometer is installed in the machine)
## If test point is let to -1,-1, it default to the center of the bed at 50mm high
variable_resonnance_test_point_xy: -1, -1
variable_resonnance_test_z_clearance: 50
variable_resonnance_chip_name: "adxl345"

## Temperature of the extruder used to preheat the chamber temperature and do some START_PRINT actions
variable_safe_extruder_temp: 150

# If this files is included, then it also activate the bed_mesh automatically in the START_PRINT macro
variable_bed_mesh_enabled: True

## Automatically disable motors in the END_PRINT macro
variable_disable_motors_in_end_print: False

## Automatically turn-off heaters in the END_PRINT macro
variable_turn_off_heaters_in_end_print: True

# If the machine is equiped by a temperature sensor in the chamber it will be used to measure and control the chamber heatsoak
variable_chamber_temperature_sensor_enabled: True
variable_chamber_temperature_sensor_name: "chamber"

#variable_startprint_actions: "bed_soak", "extruder_preheating", "chamber_soak", "clean", "tilt_calib", "z_offset", "bedmesh", "extruder_heating", "purge", "clean", "primeline"
variable_startprint_actions: "bed_soak", "extruder_preheating", "chamber_soak", "clean", "tilt_calib", "z_offset", "bedmesh", "extruder_heating", "purge", "primeline"
variable_startprint_actions: "bed_soak", "extruder_preheating", "chamber_soak", "tilt_calib", "z_offset", "bedmesh", "extruder_heating", "primeline"


variable_heaterbed_enabled: True


## Brush and purge bucket available in the machine
## If this is not available in the machine, set both positions
## variables to "-1, -1, -1" for safety

variable_brush_clean_speed: 100
variable_brush_clean_accel: 1500

variable_purge_and_brush_enabled: True
variable_force_homing_before_brush: False
variable_brush_over_y_axis: True
variable_brush_xyz: 60, 310, -1
variable_purge_bucket_xyz: 95, 310, -1 # Purge bucket position
variable_purge_distance: 100 # Amount to purge (in mm)
variable_purge_ooze_time: 10 # Time (in seconds) to wait after the purge to let the nozzle ooze before going to the brush
variable_purge_and_brush_clearance: 1.0

##########################################
# Material and specific print parameters
##########################################

## default START_PRINT parameters
variable_print_default_bed_temp: 100
variable_print_default_extruder_temp: 240
variable_print_default_chamber_temp: 0
variable_print_default_chamber_max_heating_time: 15
variable_print_default_soak: 10
variable_print_default_material: "ABS"
#'pressure_advance': 0.0525,
#            'pressure_advance': 0.0325,

## Material configuration parameters applied during START_PRINT by using the slicer MATERIAL variable
## FYI, retract paramaters are used only if firmware retraction is enabled, filter speed (in %) is used if
## there is a filter installed on the machine, etc...
## If you are using another material, just extend the list bellow with a new material and everything should work :)
            #'pressure_advance': 0.0525,
            #'pressure_advance': 0.022,
            #'pressure_advance': 0.019,
variable_material_parameters: {
        'PLA': {
            'pressure_advance': 0.0412,
            'retract_length': 0.75,
            'unretract_extra_length': 0,
            'retract_speed': 40,
            'unretract_speed': 30,
            'filter_speed': 0,
            'additional_z_offset': 0
        },
        'PET': {
            'pressure_advance': 0.0650,
            'retract_length': 1.4,
            'unretract_extra_length': 0,
            'retract_speed': 30,
            'unretract_speed': 20,
            'filter_speed': 0,
            'additional_z_offset': 0.020
        },
        'ABS': {
            'pressure_advance': 0.031,
            'retract_length': 0.5,
            'unretract_extra_length': 0,
            'retract_speed': 40,
            'unretract_speed': 30,
            'filter_speed': 80,
            'additional_z_offset': 0
        }
    }


gcode:

#[save_variables]
#filename: ~/printer_data/config/save_variables.cfg
